/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .progressbar {
        width: 430px;
    }
    .token-distribution__infograph {
        width: 475px;
    }
    .timer {
        margin-left: 50px;

    }
    .presentation {
        margin: 196px 0 0 40px;
    }
    .presentation__header {
        font-size: 42px;
    }
    .carousel-img-1 {
        width: 680px;
    }
    .about-products-1__title {
        margin-top: 50px;
    }
    .product-carousel ul {
        margin-left: 0;
    }
    .about-products-2 {
        padding-left: 85px;
        padding-right: 50px;
    }
    .carousel-img-2 {
        width: 480px;
    }
    .product-carousel ul li img {
        margin-right: 3px;
    }
    .about-products-3__title {
        padding-top: 155px;
    }
    .product-carousel ul {
        font-size: 16px;
    }
    .about-products-3__items {
        padding-bottom: 65px;
    }
    .investment__redemption__img {
        margin: 0 30px 21px 20px;
    }
    .investment__redemption__formula2__underline {
        line-height: 1;
    }
    .investment__discount__formula1 {
        margin-top: 61px;
    }
    .investment__discount__img {
        margin: 0 30px 8px 20px;
    }
    .name, .email, .message, .send {
        width: 450px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .navbar {
        background-color: #252525 !important;
    }
    .sticky-top .logo-sticky {
        display: none;
    }
    .sticky-top .logo {
        display: block;
        margin-top: -14px;
    }
    .presentation__header,
    .presentation__header2,
    .whitepaper {
        text-align: center;
    }
    .presentation {
    margin: 115px 0 0 40px;
    }
    .presentation__buy,
    .presentation__buy__button {
        margin: 45px auto 0;
    }
    header {
        height: 1330px !important;
    }
    .token-distribution__title {
        padding-top: 45px;
    }
    .investment2__text2 {
        padding: 0 30px;
    }
    .investment2__text {
        padding: 0 30px 25px 30px;
    }
    .investment2__table th {
        font-size: 18px;
    }
    .policy-terms-copyright {
        margin-top: 0;
        text-align: center;
    }
    .investment__discount__img {
        margin-bottom: 25px;
    }
    .investment__discount__formula1 {
        margin-top: 27px;
    }
    .investment__redemption__img {
        margin: 0 30px 61px 20px;
    }
    .logo {
        margin-left:0;
    }
    .logo-sticky {
        margin-left:0;
    }
    .sticky-top .navbar-nav .nav-link {
        color: #fff;
        background-color: #252525;
    }
    .sticky-top .navbar-nav .dropdown-menu {
        background-color: #252525;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 40px;
        text-align: left;
        line-height: 40px;
    }
    .sticky-top .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
        color: #fff;
        background-color: #252525;
    }
    .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
        font-size: 40px;
        text-align: left;
        line-height: 40px;
    }
    .dropdown-item {
        font-size: 40px;
        text-align: left;
        line-height: 40px;
        color: #fff;
        background-color: #252525;
    }
    .sticky-top .dropdown-item {
        color: #fff;
        background-color: #252525;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .ito__diagram__diag.d-flex {display: block !important;}
    .presentation {
        margin: 115px auto;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 20px;
        line-height: 30px;
    }
    .navbar-collapse .navbar-nav a.wp-nav-link {
        border: none;
        margin-left: 32px;
    }
    .investment2__text2 {
        padding: 0;
    }
    .investment2__text {
        padding: 0 0 25px 0;
    }
    .investment2__title {
        font-size: 33px;
    }
    .token__info_properties div {
        width: 330px;
    }
    .investment2__table th {
        font-size: 16px;
        padding: 24px 13px 11px 13px;
    }
    .investment2__table td {
        font-size: 15px;
    }
    .events__table__theme {
        font-size: 22px;
    }
    .events__table__location {
        font-size: 20px;
    }
    .name, .email, .message, .send {
        width: 360px;
    }
    .policy-terms-copyright {
        margin-left: 0;
    }
    .timeline {
        max-width: 45%;
        font-size: 14px;
        margin-right: 30px;
    }
    .about-products-1 {
        padding-bottom: 20px;
        border-bottom: 1px solid #fff;
        margin-bottom: 20px;}

 
    .fullscreen-bg__video {
        display: none;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .presentation__buy {text-align: center;}
    .telegram-chat-button {display: block;margin: 30px auto;text-align: center;}
    .telegram-chat-button img {margin: 0;}
    .timer {
        width: auto;
    }
    .investment2__table th {
        font-size: 13px;
        padding: 12px 5px 11px 5px;
    }
    .investment2__table td {
        font-size: 13px;
    }
    .ito__diagram__diag-wrap {
        width: 99%;
    }
    .progressbar {
        width: 250px;
    }
    .token-distribution__infograph {
        width: 305px;
    }
    .token-distribution__title {
        font-size: 20px;
        text-align: center;
    }
    .node-cost {
        font-size: 15px;
    }
    .node {
        font-size: 15px;
    }
    .presentation {
        margin-bottom: 20px;
    }
    .token-distribution__infograph__total-distr__title {
        text-align: center;
        font-size: 16px;
    }
    .current-distribution-title {
        font-size: 15px;
    }
    .current-distribution-items__node,
    .current-distribution-items__eth {
        font-size: 25px;
    }
    .current-distribution-items__eth {
        margin-right: 40px;
    }
    .current-distribution-items__eth-name {
        padding-left: 5px;
    }
    .current-distr-ends {
        font-size: 15px;
        padding-left: 28px;
    }
    .timer {
        margin-left: 0;
    }
    .timer__cols {
        margin-left: 22px;
    }
    .timer__item {
        width: 58px;
        font-size: 36px;
    }
    .products__properties__list {
        justify-content: center;
    }
    .carousel_nav_next {
        top: 18%;
        right: -10px;
    }
    .carousel_nav_prev {
        top: 18%;
        left: -10px;
    }
    .carousel-element__text__div {
        padding-left: 35px;
    }
    .carousel-element__text__title {
        padding-left: 0;
        text-align: center;
    }
    .carousel-element__text__list li {
        padding-left: 15px;
    }
    .product-carousel ul {
        font-size: 14px;
    }
    .roadmap__title {
        padding-top: 38px;
    }
    .timeline {
        padding: 25px;
    }
    .timeline .event::before {
        left: -192.5px;
    }
    .timeline .event::after {
        left: -30.85px;
    }
    .token__info_properties div {
        width: 257px;
    }
    .token__info {
        text-align: center;
    }
    .token__info_properties img {
        margin-bottom: 0px;
        margin-top: 10px;
        margin-right: 60px;
    }
    .token__info_properties {
        margin-left: 0;
    }
    .token_info__list-wrapper {
        margin-bottom: 20px;
    }
    .investment__redemption__formula, .investment__discount__formula {
        font-size: 14px;
    }
    .investment__redemption__img {
        margin: 0 30px 13px 20px;
    }
    .investment__redemption__formula2__underline, .investment__discount__formula2__underline {
        line-height: 25px;
    }
    .investment__redemption__formula1 p {
        margin-top: 28px;
    }
    .investment__discount__img {
        margin-bottom: 21px;
    }
    .investment__discount__formula1 {
        font-size: 32px;
    }
    .investment__discount__formula1 p {
        margin-top: 38px;
    }
    .button {
        width: 265px;
    }
    .investment2__button {
        margin-bottom: 85px;
    }
    .distribution__list-right li img {
        margin-bottom: 0px;
        margin-left: 93px;
        margin-top: 17px;
    }
    .distribution__list-right li:nth-child(2) img, .distribution__list-right li:nth-child(4) img {
        margin-bottom: 0;
    }
    .distribution__list-left li img {
        margin-bottom: 0;
        margin-left: 111px;
        margin-top: 25px;
    }
    .distribution__subtitle {
        margin-bottom: -45px;
    }
    .github__info {
        padding: 35px 20px 20px 20px;
    }
    .github__img {
        width: 95%;
    }
    .github_button {
        margin: 35px auto;
    }
    .footer__right {
        width: 290px;
    }
    .name, .email, .message, .send {
        width: 287px;
    }
    .arrow-down {
        display: none;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media only screen and (min-width : 1500px) {
    .team_adviser {
        margin: 10px 48px;
    }

}
@media only screen and (min-width : 1800px) {
    .team_adviser {
        margin: 10px 55px;
    }

}